{% extends 'base.html.twig' %}
{% block title %} Legals {% endblock %}
{% block body %}
    <div class="main">
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col m4 offset-m2 s12 center">
                        <h1 class="title">Legals</h1>
                    </div>
                    <div class="col m4 push-m2 s12 center">
                        <img class="responsive-img" src="{{ asset('assets/img/templogo4.png') }}">
                    </div>
                </div>
            </div>
        </section>
        <section class="purple lighten-4">
            <div class="container">
                <div class="row">
                    <h3 class="col s12 light center header">Orgapero vous permet d'organiser simplement et rapidement
                        des activités entre amis.</h3>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

