<h3>Hi admin, {{ name }} send you a request</h3>

<p>
    {{ message }}
</p>

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('assets/img/templogo3.png')) }}">