<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Rejoigner-nous sur les réseaux sociaux</h5>
                <ul class="socials">
                    <li><a href="#"><i class="material-icons">explore</i></a></li>
                    <li><a href="#"><i class="material-icons">language</i></a></li>
                    <li><a href="#"><i class="material-icons">help</i></a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{{ path('orgapero_page_contact') }}">Contact</a></li>
                 </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Orgapero
            <a class="grey-text text-lighten-4 right" href="{{ path('orgapero_page_legals') }}">Legals</a>
        </div>
    </div>
</footer>
