{% extends 'base.html.twig' %}
{% block title %} Orgapero {% endblock %}
{% block body %}
    <div class="main">
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col m4 offset-m2 s12 center">
                        <h1 class="title">Orgapero</h1>
                        <a class="btn">Let's Chill!</a>
                    </div>
                    <div class="col m4 push-m2 s12">
                        <img class="responsive-img" src="{{ asset('assets/img/templogo2.png') }}">
                    </div>
                </div>
            </div>
        </section>
        <section class="purple lighten-4">
            <div class="container">
                <div class="row">
                    <h3 class="col s12 light center header">Orgapero vous permet d'organiser simplement et rapidement
                        des
                        activités entre amis.</h3>
                </div>
                <div class="row">
                    <div class="col m4 s12">
                        <div class="center promo">
                            <i class="material-icons secondary-text-color">flash_on</i>
                            <p class="promo-caption">En quelques clics proposez un panel d'activités</p>
                            <p class="light center">The path of the righteous man is beset on all sides by the
                                iniquities of
                                the selfish and the tyranny of evil men.</p>
                        </div>
                    </div>
                    <div class="col m4 s12">
                        <div class="center promo">
                            <i class="material-icons secondary-text-color">flash_on</i>
                            <p class="promo-caption">En quelques clics proposez un panel d'activités</p>
                            <p class="light center">Blessed is he who, in the name of charity and good will, shepherds
                                the
                                weak through the valley of darkness, for he is truly his brother's keeper and the finder
                                of
                                lost children.</p>
                        </div>
                    </div>
                    <div class="col m4 s12">
                        <div class="center promo">
                            <i class="material-icons secondary-text-color">flash_on</i>
                            <p class="promo-caption">En quelques clics proposez un panel d'activités</p>
                            <p class="light center">And I will strike down upon thee with great vengeance and furious
                                anger
                                those who would attempt to poison and destroy My brothers. And you will know My name is
                                the
                                Lord when I lay My vengeance upon thee.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col m4 s12">
                    <img src="{{ asset('assets/img/templogo4.png') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

