{% extends 'base.html.twig' %}
{% block title %} Edit my profile {% endblock %}
{% block body %}
    <div class="row">
        <div class="card col l8 offset-l2 s10 offset-s1">
            <div class="card-content">
                <div class="card-title">
                    <h2>Edit my informations</h2>
                </div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Modify"
                       class="btn" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
